:root{
    --azulClaro: #cbe1ff;
    --azulMedio: #6896d4;
    --azulEscuro: #0b3a79;
    --fundo: #fffff5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*section images*/ 

#sectionImages{
    width: 100%;
    height: 35vh;
    background-color: var(--fundo);
}
.images{
    margin-left: 5%;
    float: left;
    margin-top: 2.5%;
    width: 33%;
    height: 75%;
    border-radius: 45px;
    background-color: var(--azulClaro);
}
#before{
    margin-left: 14%;
}

/*section identify*/ 

#sectionIdentify{
    width: 100%;
    height: 18vh;
    background-color: var(--fundo);
    padding: 1px;
}
.form-select {
    margin-left: 25%;
    margin-top: 2%;
}


/*section information*/ 

#sectionInformation{
    width: 100%;
    height: 60vh;
    background-color: var(--fundo);
    padding: 1px;
}

#accordionExample{
    width: 80%;
    margin-left: 10%;
}